/* You can add global styles to this file, and also import other style files */
@use 'tailwind';
@use 'colors';
@use 'forms';
@use 'icons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply text-gray-800;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
